@model IEnumerable<DataBaseCore.Models.Supplier>

@{
    ViewData["Title"] = "SupplierList";
}

<h1>SupplierList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Products)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>

            <td>

                @if (item.Products != null)
                {
                    @foreach (var product in item.Products)
                    {
                        @if (product != null)
                        {
                            <p>Name: @product.Name</p>
                            <p>Color: @product.Color.Name</p>
                            <p>Price: $@product.price</p>
                            <hr />
                        }
                        @if (product == null)
                        {
                            
                           
                                <p> No Product Supplied</p>
                            

                        }


                    }
                }




            </td>
                <td>
                </td>

            </tr>
           
            @*<tr>
                
            </tr>*@
        }
    </tbody>
</table>
